<template>
  <div class='container'>
    <div>
      <h2>Who made this, why?</h2>
      <p>
        This app was made by some Wellington friends who thought that bragging about being greedy middle-men in a housing crisis felt a bit off.
      </p>

      <p>
        We thought about defacing billboards, but that takes effort (some of them are really high up).
        Then we realised we could give everyone the power to write their own messages; to shape our collective narrative.
      </p>

      <p>
        We hope you enjoy it
        <br />
        S + M + P
        <br />
        <i class='fa fa-heart red' />
      </p>
    </div>

    <div>
      <h2>Contact Us</h2>
      <p>
        If you like our work, and are interested in working with us, please get in touch --
        <a href='mailto:punk.tree2722@fastmail.com' class='red-hover'>
          <i class='far fa-paper-plane'/> email
        </a>
      </p>
    </div>
  </div>
</template>

<style scoped>

.container {
  display: grid;
  grid-gap: 1rem;
}

p {
  line-height: 1.7;
  max-width: 60rem;
}

.red { color: var(--andco-red); }
.red-hover { color: black; }
.red-hover:hover { color: var(--andco-red); }

</style>
