<script setup lang="ts">

import BillboardCard from '@/components/BillboardCard.vue'

import TweetCard from '@/components/TweetCard.vue'
import RedditCard from '@/components/RedditCard.vue'
import InstagramCard from '@/components/InstagramCard.vue'

import billboards from '@/billboards'
import tweets from '@/tweets'
import redditPosts from '@/redditPosts'

const newBillboardIndices = [0]

</script>

<template>
  <h1>How Lowe Can You Go?</h1>
  <h2>We know you love real estate billboards, so we're giving you the chance to make your own!</h2>

  <p><em>Choose any billboard to update the text</em></p>
  <div class="cards">
    <BillboardCard v-for='(billboard, i) in billboards' :key='billboard.id'
      :id='i'
      :src='billboard.thumb'
      :isNew='newBillboardIndices.includes(i)'
      />
  </div>
  <p class="new">New billboards added daily!</p>

  <h2 style='margin-top: 4rem;'>Some favourites</h2>
  <div class='posts'>
    <TweetCard v-for='(tweet) in tweets' :key='tweet.id'
      :tweet='tweet'/>
    <RedditCard v-for='(post) in redditPosts' :key='post.id'
      :post='post'/>

    <InstagramCard />
  </div>

</template>

<style scoped>
h1, h2, h3 {
  margin-top: 0;
  color: var(--andco-grey);
}
h1, h2.charity {
  font-size: 1.6rem;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0.5em;
}
h2.charity {
  margin-top: 2em;
  font-weight: 700;
}
h2, h3.charity {
  font-size: 1.2rem;
  letter-spacing: -0.4px;
  font-weight: 500;
}
p {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
p.new {
  margin-top: 2rem;
}
strong {
  font-weight: 600;
}
.cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: space-between;
  justify-items: center;
}
@media only screen and (max-width: 480px) {
  p {
    text-align: start;
    margin-inline: 0;
  }
}

.posts {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
}
</style>
