<script setup lang="ts">
import { useRoute } from 'vue-router'


import BillboardDraw from '@/components/BillboardDraw.vue'
import billboards from '@/billboards'

const route = useRoute()
</script>

<template>
  <BillboardDraw :config='billboards[route.params.id]' />
</template>

<style scoped>

</style>
