<script setup lang="ts">

import { ref, watch, onMounted } from 'vue'
import { debounce }from 'lodash'

import ShareOptions from '@/components/ShareOptions.vue'

import addLoweFont from '@/lib/add-lowe-font'
import buildDraw from '@/lib/draw'
import type Billboard from '@/types/Billboard'

interface Props {
  config: Billboard
}
const props = defineProps<Props>()

const text = ref(props.config.text)
const fontSize = ref(props.config.fontSize)
const fontWeight = ref(props.config.fontWeight)
const photo = ref()
const textCanvas = ref() //  a flat billboard                           (size: flat billboard)
const projectedCanvas = ref() // the billboard projected into photo context (size: photo)
const compCanvas = ref() //  the final canvas                           (size: photo)

const imgReady = ref(0)

const { width, height, targetAspectRatio } = props.config // eslint-disable-line

const size = 300
const textareaStyle = {
  height: `${size / targetAspectRatio}px`,
  width: `${size}px`,
  fontSize: `${size / targetAspectRatio / props.config.text.split('\n').length / 3}px`
}

onMounted(async () => {
  await addLoweFont(document)

  const draw = buildDraw(
    props.config,
    photo,
    text,
    fontSize,
    fontWeight,
    textCanvas.value.getContext('2d'),
    projectedCanvas.value.getContext('2d'),
    compCanvas.value.getContext('2d')
  )

  watch(
    [text, fontSize, imgReady],
    debounce(draw, 200, { maxWait: 500 })
  )

  setTimeout(draw, 500)
})
</script>

<template>
  <div class="BillboardDraw">
    <div class='setup hidden'>
      <canvas ref='textCanvas' :height='height' :width='height * targetAspectRatio' />
      <canvas ref='projectedCanvas' :height='height' :width='width' />

      <img :src='config.path' ref='photo' @load='imgReady++' />
    </div>

    <div class='result'>
      <canvas ref='compCanvas' :height='height' :width='width' />
    </div>

    <div class="text-settings">
      <div class='text-setting'>
        <label>Edit the text:</label>
        <div class="textarea-wrapper">
          <textarea v-model='text' :style='textareaStyle' />
        </div>
        <ul>
          <li>
            use <kbd>Enter</kbd> to add new lines
          </li>
          <li>
            wrap text in asterisks <code>*like this*</code> to make it red <span>like this</span>
          </li>
        </ul>
      </div>

      <div class='text-setting'>
        <label>Text size:</label>
        <div class="font-size-controls">
          <div class="fontsize-wrapper">
            <input type="text" min="50" max="500" :value="fontSize" 
              @input="//@ts-ignore
                      fontSize =$event.target.value" >
          </div>

          <input type="range" min="50" max="500" :value="fontSize"
            @input="//@ts-ignore 
                    fontSize = $event.target.value" >
        </div>
      </div>

      <ShareOptions :canvas='compCanvas' :text='text' :fontSize='fontSize'></ShareOptions>

      
    </div>
  </div>
</template>

<style scoped>
.BillboardDraw {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  grid-gap: 2rem;
}

/* setup canvases (hidden by default, remove hidden class for debugging) */
.setup {
  --gap: 20px;
  --col: calc((1000px - var(--gap)) / 2);
  --checker: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAH0lEQVQY02OcxQADZ+AsJgYsYKgIsiD8YTJInEShIAA1NwKQeKc4/QAAAABJRU5ErkJggg==);

  max-width: 1000px;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: var(--col) var(--col);
  grid-gap: var(--gap);
  justify-content: start;

  margin-bottom: 2rem;
}
.setup > canvas {
  grid-column: 1;

  width: var(--col);
  background-image: var(--checker);
}
.setup > img {
  grid-row: 2;
  grid-column: 2;
  width: var(--col);
}
.hidden { display: none; }

.result {
  background-image: var(--checker);
  max-height: 70vh;
}
.result > canvas {
  max-width: 100%;
  max-height: 70vh;
}


/* text entry section*/

.text-settings { 
  margin-top: -14px;

  max-width: 1000px;

  display: grid;
  grid-template-rows: auto auto 1fr;

  align-content: start;
  grid-gap: 2rem;
}

.text-setting { 
  display: grid;
  align-content: start;
  grid-gap: 4px;
}

.text-setting label {
  color: var(--andco-grey);
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.text-setting > ul {
  font-size: 13px;
  padding-left: 25px;
  line-height: 2;
}
.text-setting > ul kbd {
  background: rgba(0,0,0, .1);
  padding: 3px 4px;
  border: 2px solid rgba(0,0,0, .2);
  box-shadow: 2px 2px 0 0 rgba(0,0,0, 0.3);
  border-radius: 4px;

  margin-right: 2px;
}
.text-setting > ul span {
  color: red;
  font-weight: 600;
}
.text-setting > ul code {
  background: rgba(0,0,0, 0.1);
  padding: 2px;
}

textarea, input[type=text] {
  border: none;
  outline: none;
  width: 100%;

  background-color: transparent;
  color: var(--andco-grey);
  caret-color: var(--andco-red);

  font-family: 'Montserrat';
}

textarea {
  padding: 1rem;
  font-weight: 600;
  font-size: 1rem;
}

input[type=text] {
  padding: 0.5em;
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-weight: 400;
  font-size: 0.8rem;
}
textarea:focus, .input[type=text]:focus {
  border: none;
  outline: none;
}

.textarea-wrapper, .fontsize-wrapper {
  box-shadow: inset 0.3px 0.5px 0.6px hsla(0, 0%, 63%, 0.38),
              inset 0.7px 1.3px 1.5px -1.1px hsla(0, 0%, 63%, 0.34),
              inset 1.8px 3.6px 4.1px -2.1px hsla(0, 0%, 63%, 0.29),
              inset 4.6px 9.1px 10.4px -3.2px hsla(0, 0%, 63%, 0.25);
  border-color: var(--andco-grey);
  border-style: solid;
  border-radius: 4px;
  transition: border-color 200ms;
}
.textarea-wrapper {
  border-width: 2px;
}
.fontsize-wrapper {
  border-width: 1px;
  width: 2.6rem;
}

.textarea-wrapper:focus-within,
.fontsize-wrapper:focus-within {
  outline: none;
  border-color: var(--andco-red);
}



input {
  accent-color: var(--andco-red);
}

.font-size-controls {
  font-size: 0.8rem;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40px 250px;
  justify-content: start;
  align-items: center;
  grid-gap: 10px;

  margin-bottom: 1rem;
}

.buttons {
  display: grid;
  justify-content: start;
  align-content: end;
}

button {
  font-size: 14px;
  height: 42px;
}

button > i {
  font-size: 16px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity .5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

</style>
