<script lang='ts' setup>
const alert = (msg: string) => window.alert(msg)
</script>

<template>
  <header>
    <div>
      <a href='#'>
        <i class="fas fa-phone" @click='alert(`we are not taking calls at the moment`)'/>
      </a>

      <a href='mailto:punk.tree2722@fastmail.com'>
        <i class="fas fa-envelope" />
      </a>

      <a href='https://twitter.com/search?q=%23HowLoweCanYouGo'>
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </header>

  <nav>
    <router-link to='/' class='logo'>
      <img src='@/assets/HowLoweCanYouGo.svg' />
    </router-link>

    <div class='links'>
      <router-link to='/'>Home</router-link>
      <!-- <router-link to='/selling'>Selling</router-link> -->
      <router-link to='/about'>About us</router-link>
    </div>
  </nav>
  <div class="disclaimer"> 
    <aside><em>How Lowe Can You Go</em> is a parody website and is not associated with the real estate firm <a class="red-hover" href="https://loweandco.nz">Lowe & Co</a></aside>
  </div>
</template>

<style scoped>
header, nav {
  display: grid;
  grid-template-columns: minmax(auto, var(--max-width));
  justify-content: center;
  padding: 0 var(--padding-x);
  margin: 0;
}

header {
  justify-items: end;
  align-content: center;

  height: 45px;
  background: #58585b;
}
header > div {
  padding-right: 6px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 12px;
}
header a { text-decoration: none; }
header i { color: white; }
header i:hover { color: black; }

nav {
  background: black;

  --width: 300px;
  grid-template-columns: minmax(auto, calc(var(--max-width) - var(--width))) var(--width);

  align-items: end;
}
@media (min-width: 0px) and (max-width: 615px) {
  nav {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

nav > .logo {
  height: 105px;
  max-width: 90vw;
  border-bottom: none;
  margin-left: -10px;
}
nav > .logo > img { height: 100%; }

nav > .links {
  padding-bottom: 21px;

  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-gap: 25px;
}
nav > .links > a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 4px solid black;
}
nav .links > a.router-link-active {
  color: #58585b;
  border-bottom: 4px solid #58585b;
}

.disclaimer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.6rem;
}
aside {
  text-align: right;
  font-size: 10px;
  max-width: 30vw;
  min-width: 10rem;
  padding-top: 1em;
  padding-right: 1em;
}
</style>
