<script setup lang='ts'>
import type RedditPost from '../types/RedditPost'

import { defineProps, computed } from 'vue'

const props = defineProps({
  post: Object as () => RedditPost,
})
const userUrl = computed (() => `https://www.reddit.com/user/${props.post?.userName}`)
const subUrl = computed (() => `https://www.reddit.com/r/${props.post?.subreddit}`)
const avatarPath = `/social-avatars/${props.post?.avatar}`
const imagePath = `/social-photos/${props.post?.image}`
const hasText = computed (() => Boolean(props.post?.text.length))
</script>

<template>
  <a class="tweet" :href='props.post?.postUrl'>

    <div class='card'>

      <div class="header">
        <a class="user" :href='userUrl'>
          <img class="avatar" :src="avatarPath"/>
          <div class="names" >
            <span class="username">{{ props.post?.userName }}</span>
            <a :href="subUrl" class="subreddit">r/{{ props.post?.subreddit }}</a>
          </div>
        </a>
        <i class='fab fa-reddit' />
      </div>

      <p v-show="hasText" class="social-content">
        <span class="social-text">{{ props.post?.text }}</span>
      </p>
      <svg class="social-image" :viewBox="props.post?.viewBox">
        <image :href="imagePath" width="100"/>
      </svg>
      <div class="meta">
        <p class="post-time">{{ props.post?.time }}</p>

        <div class="stats">
          <div class="stat"> 
            <i class="fas fa-arrow-up"></i>
            <span>{{ props.post?.upvotes }}</span>
          </div>
          <div class="stat"> 
            <i class="fas fa-comment-alt"></i>
            <span>{{ props.post?.comments }}</span>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>

<style scoped>
a {
  text-decoration: none;
  color: black;
}
a.tweet {
  padding: 1rem;
  padding-top: 11px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.fa-reddit {
  padding-top: 8px;
  color: #FF4500;
}
a.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 11px;
}
img.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
img.avatar:hover {
  filter:brightness(0.9);
}
a.user:hover span.display-name {
  text-decoration: underline;
}
a.subreddit {
  display: block;
  font-weight: 600;
  font-size: 0.8rem;
  max-width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a.subreddit {
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--andco-grey);
}

p.social-content {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  font-size: 0.8rem;
  font-weight: 500;
  overflow: hidden;
  max-width: 100%;
  letter-spacing: -0.01em;
  line-height: 1.4;
}

a.tweet-mention, a.post-url, a.tweet-hashtag {
  color: rgb(0, 111, 214);
  text-decoration: underline;
}

svg.social-image {
  border-radius: 6px;
  width: 100%;
  height: auto;
}


.meta {
  margin: 4px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--andco-grey);
}
p.post-time {
  font-size: 0.8em;
}
.stats {
  display: flex;
  gap: 1em;
}
.stats i {
   color: #bbb;
}
.stat {
  display: flex;
  align-items: center;
  gap: 8px;
}



.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}


.card > .ammenities {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  grid-gap: 4px;
}
.ammenities > .ammenity {
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-template-rows: 1rem;
  grid-gap: 5px;
  align-items: center;
}

</style>
