<script setup lang="ts">
import { defineProps, ref, computed, watch } from 'vue'
import { copyImageToClipboard, canCopyImagesToClipboard } from 'copy-image-clipboard'


interface Props {
  canvas: HTMLCanvasElement
  text: string
  fontSize: number
}

const imgurLink = ref()
const props = defineProps<Props>()

const uploadStarted = ref()
const imageUploaded = ref()
const uploadFailed = ref()
const uploading = computed(() => Boolean(uploadStarted.value && !imageUploaded.value && !uploadFailed.value))

const canCopy = ref(false)
const canShare = ref()

watch(() => [props.text, props.fontSize ], () => {
  uploadStarted.value = false 
  imageUploaded.value = false 
  uploadFailed.value = false
})

async function upload () {
  uploadStarted.value = true
  imageUploaded.value = false
  uploadFailed.value = false

  const formData = new FormData()
  formData.append('image', props.canvas.toDataURL("image/jpeg").split(';base64,')[1])

  imgurLink.value = await fetch('https://api.imgur.com/3/image', {
    method: 'POST',
    headers: {
      Authorization: 'Client-ID e47b9d0cba9d582'
    },
    body: formData
  })
    .then(response => response.json())
    .then(jsonData => jsonData.data.link)
    .catch(console.error)

  canCopy.value = canCopyImagesToClipboard()
  props.canvas.toBlob((blob => {
    canShare.value = navigator.canShare({ files: [new File([blob as Blob], 'image.png')] })
  }))


  if (imgurLink.value) {
    imageUploaded.value = true 
    uploadFailed.value = false
  } else {
    uploadFailed.value = true
  }
}


function copyLinkToClipboard () {
  navigator.clipboard.writeText(imgurLink.value)
  .then(function() {
    alert('Copied link to clipboard')
  }, function() {
    alert(`Copy failed. Your link is ${imgurLink.value}`)
  })
}

function copyImage () {
  const image = props.canvas.toDataURL('image/jpeg', 0.5)

  copyImageToClipboard(image)
  .then(() => {
    alert('Image Copied')
  })
  .catch((e) => {
    alert(`Error:  ${e.message}`)
  })
}

function tweet () {
  const tweetLink = document.createElement('a')
  tweetLink.href = `https://twitter.com/intent/tweet?url=${imgurLink.value}&hashtags=HowLoweCanYouGo`
  tweetLink.click()
}

function share () {
  props.canvas.toBlob((blob => {
    const name = `${tidyImageName(props.text)}.jpg`
    if (blob) {
    const imgFile = new File([blob], name, {type: 'image/jpeg'})
    navigator.share({
      files: [imgFile],
      title: 'How Lowe Can You Go?',
      text: '#HowLoweCanYouGo',
      url: 'https://loweand.co.nz'
    })
      .then(() => alert('Share was successful.'))
      .catch((error) => alert('Sharing failed: ' + error))
    }
  }), 'image/jpeg', 0.5)
  
}

function download () {
  const link = document.createElement('a')
  link.download = `${tidyImageName(props.text)}`
  link.href = props.canvas.toDataURL('image/jpeg', 0.5)
  link.click()
}

function tidyImageName (string: string) {
  return string.replace(/[\.\,\',\*]/g, '')
               .replace(/\s+/g, '-')
}

</script>





<template>
  <div class="buttons">
    <button class="download" @click='download' >
      <i class='fas fa-download' />
      <span>Download</span>
    </button>
    <Transition mode="out-in">
      <div class="upload-share" v-if="!imageUploaded">
        <Transition mode="out-in">
        <button v-if="!uploading" @click="upload">
          <i class='fas fa-share-alt'/>
          <span>Share</span>
        </button>
        <div class="loading" v-else> 
          <img class="loading-anim" src="@/assets/spraycan.svg"/>
          <p class="preparing"><em>Preparing your billboard...</em></p>
        </div>

        </Transition>
      </div>

      <div v-else class="share-buttons">
        <button v-if="canShare" @click="share">
          <span>Share</span>
        </button>

        <div class="copy" v-else>
          <div v-show="canCopy" class="image-button">
            <button  @click="copyImage">
              <i class="fas fa-image"></i>
              <span>Copy Image</span>
            </button>
          </div>

          <div class="link-button">
            <button @click="copyLinkToClipboard">
              <i class='fas fa-copy' />
              <span>Copy Link</span>
            </button>
            <div class="link-text">{{ imgurLink }}</div>
          </div>
        </div>

        <button @click="tweet">
          <i class='fab fa-twitter' />
          <span>Tweet</span>
        </button>
      </div>

      
    </Transition>

      <div v-if="uploadFailed">
        <p>Something went wrong :(</p>
        <button @click="upload">
          <i class="fa-solid fa-rotate-right"></i>
          <span>Try Again?</span>
        </button>
      </div>

       
      
  </div>

</template>





<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity .5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.share-buttons, .copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
}
.link-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.link-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 1em;
  padding: 0.54rem 0.75rem;
  background-color: #ddd;
  max-width: 150px;
}
.download {
  align-self: flex-start;
  justify-self: flex-start;
  background-color: transparent;
  color: var(--andco-grey);
  padding-right: 10px;
  /* margin-bottom: 2em; */
}

.upload-share {
  align-self: flex-start;
  justify-self: flex-start;
  width: 100%;
}


.buttons {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
  gap: 1em;
}
.close {
  width: 5rem;
  align-self: flex-end;
  background-color: var(--andco-red)
}

button {
  width: 130px;
}

img.loading-anim {
  max-width: 100%;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

div.loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p.preparing {
  font-size: 0.8em;
  justify-self: center;
}
  

</style>