<script setup lang='ts'>
import type Tweet from '../types/Tweet'

import { defineProps, computed } from 'vue'

const props = defineProps({
  tweet: Object as () => Tweet,
})
const tweetUrl = computed (() => `https://www.twitter.com/${props.tweet?.userName}/status/${props.tweet?.id}`)
const userUrl = computed (() => `https://www.twitter.com/${props.tweet?.userName}`)
const hashtagUrl = computed (() => `https://www.twitter.com/hashtag/${props.tweet?.hashtag}`)
const avatarPath = `/social-avatars/${props.tweet?.avatar}`
const imagePath = `/social-photos/${props.tweet?.image}`
const hasText = computed (() => Boolean(props.tweet?.text.length))
const hasHashtag = computed (() => Boolean(props.tweet?.hashtag.length))
const hasUrl = computed (() => Boolean(props.tweet?.url.length))
const hasMention = computed (() => Boolean(props.tweet?.mention.length))
const hasTextContent = computed (() => Boolean((hasText.value || hasHashtag.value || hasUrl.value || hasMention.value)))
</script>

<template>
  <a class="tweet" :href='tweetUrl'>

    <div class='card'>

      <div class="header">
        <a class="user" :href='userUrl'>
          <img class="avatar" :src="avatarPath"/>
          <div class="names" >
            <span class="display-name">{{ props.tweet?.displayName }}</span>
            <span class="user-name">@{{ props.tweet?.userName }}</span>
          </div>
        </a>
        <i class='fab fa-twitter' />
      </div>

      <p v-show="hasTextContent" class="social-content">
        <span v-show="hasMention" class="tweet-mention">@{{ props.tweet?.mention }} </span>
        <span v-show="hasText" class="social-text">{{ props.tweet?.text }} </span>
        <span v-show="hasUrl">
          <a class="post-url" :href='props.tweet?.url'>{{ props.tweet?.url }} </a>
        </span>
        <span v-show="hasHashtag">
          <br>
          <a class="tweet-hashtag" :href='hashtagUrl'> {{ props.tweet?.hashtag }} </a>
        </span>
      </p>
      <svg class="social-image" :viewBox="props.tweet?.viewBox">
        <image :href="imagePath" width="100"/>
      </svg>
      <div class="meta">
        <p class="post-time">{{ props.tweet?.time }}</p>

        <div class="stats">
          <div class="stat"> 
            <i class="fas fa-heart"></i>
            <span>{{ props.tweet?.likes }}</span>
          </div>
          <div class="stat"> 
            <i class="fas fa-retweet"></i>
            <span>{{ props.tweet?.retweets }}</span>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>

<style scoped>
a {
  text-decoration: none;
  color: black;
}
a.tweet {
  padding: 1rem;
  padding-top: 11px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header > i {
  padding-top: 8px;
  color: rgb(29, 155, 240);
}
a.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 11px;
}
img.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
img.avatar:hover {
  filter:brightness(0.9);
}
a.user:hover span.display-name {
  text-decoration: underline;
}
span.display-name {
  display: block;
  font-weight: 600;
  font-size: 0.8rem;
  max-width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.user-name {
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--andco-grey);
}

p.social-content {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  font-size: 0.8rem;
  font-weight: 500;
  overflow: hidden;
  max-width: 100%;
  letter-spacing: -0.01em;
  line-height: 1.4;
}

a.tweet-mention, a.post-url, a.tweet-hashtag {
  color: rgb(0, 111, 214);
  text-decoration: underline;
}

svg.social-image {
  border-radius: 6px;
  width: 100%;
  height: auto;
}

p.post-time {
  }

.meta {
  margin: 4px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--andco-grey);
}
p.post-time {
  font-size: 0.8em;
}
.stats {
  display: flex;
  gap: 1em;
}
.stats i {
   color: #bbb;
}
.stat {
  display: flex;
  align-items: center;
  gap: 8px;
}



.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}


.card > .ammenities {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  grid-gap: 4px;
}
.ammenities > .ammenity {
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-template-rows: 1rem;
  grid-gap: 5px;
  align-items: center;
}

</style>
