<script setup lang="ts">
import { defineProps, ref } from 'vue'

interface Props {
  canvas: HTMLCanvasElement
}

const props = defineProps<Props>()

async function postToTwitter () {
  const formData = new FormData()
  formData.append('image', props.canvas.toDataURL("image/jpeg").split(';base64,')[1])

  const imgurLink = await fetch('https://api.imgur.com/3/image', {
    method: 'POST',
    headers: {
      Authorization: 'Client-ID e47b9d0cba9d582'
    },
    body: formData
  })
    .then(response => response.json())
    .then(jsonData => jsonData.data.link)
    .catch(console.error)

  if (!imgurLink) return 

  const tweetLink = document.createElement('a')
  tweetLink.href = `https://twitter.com/intent/tweet?url=${imgurLink}&hashtags=HowLoweCanYouGo`
  tweetLink.click()
}
</script>

<template>
  <button @click='postToTwitter' >
    <i class='fa-brands fa-twitter' />
    <span>Tweet</span>
  </button>
</template>

<style scoped>
button {
  font-size: 14px;
  height: 42px;
}

button > i {
  font-size: 18px;
}
</style>
