/* currently importing Montserrat from google, we can load our own once we know which weights are needed */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";

:root {
  --andco-red: #e30d1b;
  --andco-grey: #58585b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem 1rem;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}



/* canvas section */

div.aspect-ratio-wrapper {
  max-width: 100%;
}

canvas#comp {
  border: none;
  border-radius: 2px;
  box-shadow: 0.3px 0.3px 0.5px hsla(0, 0%, 0%, 0.1),
    1px 1px 1.6px -0.8px hsla(0, 0%, 0%, 0.1),
    2.5px 2.5px 4px -1.7px hsla(0, 0%, 0%, 0.1),
    6.1px 6.1px 9.7px -2.5px hsla(0, 0%, 0%, 0.1);
}

canvas#ad {
  display: none;
}


/* download button (based on loweandco.nz) */

button {
  padding: 0.54rem 0.75rem;
  border-radius: 2px;
  outline: none;
  border-style: none;

  background-color: var(--andco-grey);
  color: white;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  appearance: button;
}

button:hover {
  opacity: 0.8;
}

button>svg {
  width: 1em;
}

.red { color: var(--andco-red); }
.red-hover { color: black; }
.red-hover:hover { color: var(--andco-red); }